.jumbotron {
    background-color:rgb(11, 11, 105);
    color: white;
    text-align: center;
    height: 80px;
    padding-top: 30px;
}

.panel-body {
    border: 1pt solid darkgrey;
    height: 200px;
    text-align: center;
    padding-top: 10px;
}

.panel-heading {
    background-color: darkslategray;
    color: white;
    text-align: center;
}

.form-row {
    text-align: center;
    margin:0 auto;
    width: 40%;
    margin-bottom: 20px;
}

.message{
    text-align: center;
    margin-bottom: 20px;
}

button{
    display: block;
    margin: 0 auto;
    width: 100px;
    color: white;
    background-color:darkslategray;
    
}

.Rock, .Paper, .Scissors {
    margin-top: 10px;
}

.player1Choice{
    padding-top: 20px;
}

#gameMessage {
    padding-top: 25px;
}

.chatMessages  {
    width: 60%;
    display: block;
    margin: 0 auto;
}

.input-group  {
  margin-left: 0px;
  margin-top: 5px;
}


#send {
    display: inline;
    background-color: rgb(11, 11, 105);
    margin-left: 5px;
}

.chatHeading {
    margin-top: 20px;
    background-color: rgb(11, 11, 105);
}

#chatDisplay{
    max-height: 80px;
    overflow-y: auto;
    border: 1pt solid darkslategrey;
    padding-left: 4px;
    margin-bottom: 0px;
    text-align: left;
    font-size: 14px;
}